.sidebar-menu {
  background: #fff;
  padding: 75px 44px 66px 80px;
  border-radius: 0 0 20px 0;
  max-width: 367px;
  width: 100%;
}
.sidebar-menu__footer {
  width: 100%;
}
.sidebar-menu__close {
  display: none;
  width: 18px;
  height: 28px;
  fill: #0047AB;
  transform: scale(-1, 1);
  position: absolute;
  top: 22px;
  left: 28px;
  z-index: 1;
}

.logo {
  margin: 0 0 50px;
  max-width: 143px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  margin: 0 0 40px;
  width: 100%;
}
.nav-menu:last-child {
  margin: 0;
}

.menu {
  width: 100%;
  font-size: 20px;
}
.menu > li {
  margin: 0 0 40px;
}
.menu > li > a {
  font-weight: bold;
}
.menu a {
  color: #1D1D1B;
}
.menu a:hover, .menu a:focus, .menu a.active {
  color: #0047AB;
}
.menu a.active {
  font-weight: bold;
}

.submenu {
  width: 100%;
  margin: 26px 0 0;
  padding: 0 0 0 25px;
  font-size: 18px;
}
.submenu li {
  margin: 0 0 30px;
}
.submenu li:last-child {
  margin: 0;
}

.balance-box {
  border-radius: 20px;
  background: #EAF3FF;
  padding: 20px;
  font-size: 20px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 28px;
}
.balance-box:last-child {
  margin: 0;
}
.balance-box p {
  margin: 0 0 12px;
}
.balance-box p:last-child {
  margin: 0;
}
.balance-box p span {
  margin: 0 0 0 8px;
  color: #0047AB;
}

.admin-box {
  display: flex;
  align-items: center;
  border: 1px solid #0047AB;
  border-radius: 20px;
  padding: 20px;
  width: -moz-fit-content;
  width: fit-content;
}
.admin-box__exit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 20px;
  width: 22px;
  height: 23px;
  fill: #0047AB;
}
.admin-box__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  min-width: 40px;
  margin: 0 12px 0 0;
}
.admin-box__name {
  max-width: 80px;
  width: -moz-fit-content;
  width: fit-content;
  color: #1D1D1B;
}
.admin-box__name:hover {
  color: #0047AB;
}

.content-box-diagram {
  padding: 50px 10px 40px;
}

.chartdiv {
  width: 100%;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

#chartdiv {
  height: 438px;
}

#chartdiv2 {
  height: 488px;
}

#chartdiv3 {
  height: 544px;
}

#chartdiv4, #chartdiv7, #chartdiv8, #chartdiv9, #chartdiv10, #chartdiv14, #chartdiv15 {
  height: 580px;
}

#chartdiv5 {
  height: 410px;
}

#chartdiv6 {
  height: 400px;
}

#chartdiv11, #chartdiv13 {
  height: 500px;
}

#chartdiv12 {
  height: 500px;
  margin: 40px 0 0;
}

.filter-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.filter-wrapper h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: #0047AB;
  margin: 0 0 30px;
}
.filter-wrapper__head {
  width: 100%;
  display: none;
  align-items: center;
  margin: 0 0 45px;
}
.filter-wrapper__head h3 {
  margin: 0 auto 0 0;
}
.filter-wrapper__head .btn {
  width: -moz-fit-content;
  width: fit-content;
}

.filter-box-period {
  color: #0047AB;
  position: relative;
  z-index: 1;
}
.filter-box-period svg {
  fill: #0047AB;
  width: 16px;
  height: 18px;
  min-width: 16px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}

.datepicker {
  padding: 20px 45px 20px 20px;
  border-radius: 20px;
  background: #EAF3FF;
  color: #0047AB;
}
.datepicker::-moz-placeholder {
  color: #0047AB;
}
.datepicker::placeholder {
  color: #0047AB;
}

.filter-box {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 0 30px 30px 0;
}
.filter-box:last-child {
  margin-right: 0;
}
.filter-box .dropdown {
  margin-left: 8px;
  width: 180px;
}
.filter-box p {
  color: #0047AB;
}

.filter-category {
  margin: 30px 0 0;
  padding: 35px 0 0;
  width: 100%;
  border-top: 1px solid #0047AB;
  display: none;
}

.filter-list-items {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.filter-list-items li {
  margin: 0 30px 30px 0;
}
.filter-list-items li:last-child {
  margin-right: 0;
}

.btn-apply-filters {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: none;
}

.dt-search {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.dt-search::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 20px;
  width: 21px;
  height: 20px;
  background: url("../img/search-icon.svg") no-repeat center;
  background-size: 100%;
}
.dt-search label {
  margin: 0;
}
.dt-search input {
  margin: 0;
  background: #EAF3FF;
  height: 60px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #1D1D1B;
  padding: 0 40px 0 20px;
  width: 222px;
}
.dt-search input:hover, .dt-search input:focus {
  box-shadow: none;
  background: #EAF3FF;
  color: #1D1D1B;
}

div.dt-container div.dt-search {
  margin: 0;
  width: 222px;
}
div.dt-container div.dt-search input {
  margin: 0;
  width: 100%;
}
div.dt-container div.dt-search label {
  display: none;
}

.table-striped {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.table-striped thead {
  font-weight: bold;
}
.table-striped thead th {
  padding: 22px 0;
}
.table-striped thead tr {
  border-bottom: 1px solid #6DABFF;
}
.table-striped tbody tr {
  border-bottom: 1px solid #6DABFF;
}
.table-striped tbody td {
  padding: 11.5px 10px;
  text-align: left;
}

table.table.dataTable.table-striped > tbody > tr:nth-of-type(2n+1) > * {
  box-shadow: none;
}

table.table.dataTable > :not(caption) > * > * {
  background: transparent;
}

table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date {
  text-align: left;
}

table.dataTable thead > tr > th.dt-orderable-asc, table.dataTable thead > tr > th.dt-orderable-desc, table.dataTable thead > tr > td.dt-orderable-asc, table.dataTable thead > tr > td.dt-orderable-desc {
  padding: 22px 0;
}

.dt-column-order {
  width: 15px;
  height: 10px;
  background: url("../img/arrow-select.svg") no-repeat center;
  background-size: 100%;
  margin: 0 0 0 8px;
  position: relative;
}
.dt-column-order::before, .dt-column-order::after {
  display: none;
}

table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order, table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order, table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order, table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order, table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order {
  position: relative;
  margin: 0 0 0 6px;
  display: inline-flex;
  align-items: center;
  width: 12px;
  height: 8px;
  min-width: 12px;
  right: 0;
}

table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before {
  display: none;
}

table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:after, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:before, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after, table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:after, table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:before, table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:after, table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:before, table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
  display: none;
}

table.dataTable thead > tr > th.dt-orderable-asc:hover, table.dataTable thead > tr > th.dt-orderable-desc:hover, table.dataTable thead > tr > td.dt-orderable-asc:hover, table.dataTable thead > tr > td.dt-orderable-desc:hover {
  outline: none;
  outline-offset: 0;
}

.table > :not(caption) > * > * {
  box-shadow: none;
  background: transparent;
  padding: 9px 10px;
}

.table td, .table th {
  vertical-align: middle;
}
.table thead th {
  white-space: nowrap;
}

tfoot {
  font-weight: bold;
  border: none;
  box-shadow: none;
}

.table-currency tfoot tr th {
  padding: 40px 0 20px !important;
}

#example-table1_wrapper .dt-scroll, .content-box-clients .dt-scroll, .content-box-translation .dt-scroll, .table-reverse-footer .dt-scroll {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#example-table1_wrapper .dt-scroll-foot, .content-box-clients .dt-scroll-foot, .content-box-translation .dt-scroll-foot, .table-reverse-footer .dt-scroll-foot {
  order: -1;
}

div.dt-container div.dt-length {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #0047AB;
}
div.dt-container div.dt-length select {
  border: none;
  border-radius: 20px;
  background: #fff url("../img/arrow-select.svg") no-repeat calc(100% - 20px) center;
  background-size: 15px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin: 0 8px;
  width: 91px;
  padding: 0 20px;
  color: #1D1D1B;
}
div.dt-container div.dt-length select:hover, div.dt-container div.dt-length select:focus {
  box-shadow: none;
  outline: none;
}

.dt-scroll-body::-webkit-scrollbar {
  width: 20px;
  border-radius: 20px;
  background: #FBFCFF;
}
.dt-scroll-body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #EAF3FF;
}

div.dt-scroll-body {
  border: none;
}

.content-box-table .dt-scroll-body {
  padding: 0 33px 0 40px;
}
.content-box-table .dt-scroll-foot, .content-box-table .dt-scroll-head {
  padding: 0 45px 0 40px;
}

.previous {
  border: none;
  border-radius: 0;
  width: 12px;
  height: 23px;
  min-width: 12px;
  background: url("../img/preview-icon.svg") no-repeat center;
  background-size: 100%;
}

div.dt-container div.dt-layout-start > *:not(:last-child) {
  margin: 0;
}

div.dt-container div.dt-paging {
  margin: 0 0 0 55px;
}

div.dt-container div.dt-paging ul.pagination {
  display: flex;
  align-items: center;
  margin: 0;
}

.pagination .page-item:first-child .page-link, .pagination .page-item:first-child .previous {
  background: url("../img/preview-icon.svg") no-repeat center;
  background-size: 100%;
  border: none;
  border-radius: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .page-item:last-child .page-link.next {
  background: url("../img/next-icon.svg") no-repeat center;
  background-size: 100%;
  border: none;
  border-radius: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 23px;
  min-width: 12px;
  margin: 0 0 0 30px;
}

.pagination .page-item .page-link {
  margin: 0 0 0 30px;
  border: none;
  border-radius: 0;
  padding: 0;
  background: transparent;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #1D1D1B;
}
.pagination .page-item .page-link:hover, .pagination .page-item .page-link:focus {
  box-shadow: none;
}

.pagination .page-item.active .page-link {
  font-weight: 600;
  color: #0047AB;
}

.btn-toggle-menu {
  width: 73px;
  min-width: 73px;
  height: 73px;
  fill: #0047AB;
  background: #fff;
  border-radius: 0 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-toggle-menu svg {
  width: 18px;
  height: 28px;
}

.btn-filter {
  background: #fff;
  width: 80px;
  height: 80px;
  min-width: 80px;
  border-radius: 20px;
  fill: #0047AB;
  padding: 24px;
  border: 1px solid #EAF3FF;
  margin: 0 0 0 auto;
  display: none;
}

.content-row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin: 0 0 20px;
}
.content-row .form-search {
  margin-left: auto;
}

.mb-35 {
  margin-bottom: 35px;
}

#example-table3_wrapper .dt-scroll-body, #example-table3_wrapper .dt-scroll-head, #example-table3_wrapper .dt-scroll-foot, #example-table6_wrapper .dt-scroll-body, #example-table6_wrapper .dt-scroll-head, #example-table6_wrapper .dt-scroll-foot {
  padding: 0 0 0 40px;
}

table.dataTable.table-clients > tbody > tr > th, table.dataTable > tbody > tr > td {
  padding: 15px 0;
}

table.dataTable.table-clients > thead > tr > th, table.dataTable > thead > tr > th {
  padding: 22px 0;
}

table.dataTable.table-clients > tfoot > tr > th, table.dataTable > tfoot > tr > th {
  padding: 10px 0;
}

div.dt-container.dt-empty-footer .dt-scroll-body {
  border: none;
}

table.dataTable > thead > tr > th, table.dataTable > thead > tr > td {
  border: none;
}

.content-box-translation {
  padding: 28px 30px 36px;
}

.content-box-reports .filter-box-period {
  margin: 0 0 0 auto;
}
.content-box-reports .form-search {
  margin: 0;
}

.td-text {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.td-text .label-checkbox {
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translate(0, -50%);
  width: -moz-fit-content;
  width: fit-content;
}
.td-text .label-checkbox__custom {
  position: relative;
  left: 0;
  top: 0;
  transform: none;
}
.td-text a {
  color: #1D1D1B;
}
.td-text a:hover {
  color: #0047AB;
}

.nav-tabs {
  border: none;
  border-radius: 0;
}
.nav-tabs .nav-link {
  background: #EAF3FF;
  color: #0047AB;
  border: 1px solid #EAF3FF;
}
.nav-tabs .nav-link:hover {
  background: #6DABFF;
  border-color: #6DABFF;
  color: #fff;
}
.nav-tabs .nav-link:focus {
  background: #0047AB;
  color: #fff;
  border-color: #0047AB;
}
.nav-tabs .nav-link.active {
  border: 1px solid #0047AB;
  background: #fff;
  color: #1D1D1B;
}
.nav-tabs .nav-link.active:hover {
  background: #6DABFF;
  border-color: #6DABFF;
  color: #fff;
}

.content-box-current table th, .content-box-current table td {
  width: 150px;
  min-width: 150px;
}

.content-box-positions table th, .content-box-positions table td {
  width: 140px;
  min-width: 140px;
}

.content-box-translation table th, .content-box-translation table td {
  width: 120px;
  min-width: 120px;
}

.dynamics-row {
  width: 100%;
  display: flex;
  align-items: start;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 10px 0;
  background: #F6F7FA;
}

.graphic-type {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.graphic-type p {
  color: #0047AB;
  margin: 0 30px 0 0;
}

.btn-graphic-type.active {
  background: #fff;
  border: 1px solid #0047AB;
}
.btn-graphic-type.active:hover {
  background: #0047AB;
  color: #fff;
}
.btn-graphic-type.active:focus {
  color: #fff;
  background: #6DABFF;
  border-color: #6DABFF;
}

.filter-box-period-cabinet input {
  background: #fff;
  border: 1px solid #EAF3FF;
  color: #1D1D1B;
}
.filter-box-period-cabinet input::-moz-placeholder {
  color: #1D1D1B;
}
.filter-box-period-cabinet input::placeholder {
  color: #1D1D1B;
}

.btn-download-report {
  white-space: nowrap;
}

.content-box-cabinet {
  margin: 0 0 85px;
}
.content-box-cabinet:last-child {
  margin: 0 0 85px;
}
.content-box-cabinet__head {
  width: 100%;
  display: flex;
  align-items: center;
}
.content-box-cabinet__body {
  margin: 60px 0 0;
  width: 100%;
  padding: 0 0 0 100px;
}

.agreement-number {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 20px;
}
.agreement-number strong {
  font-size: 24px;
  text-transform: uppercase;
  color: #0047AB;
  font-weight: bold;
  margin: 0 0 0 7px;
}

.client-info {
  display: flex;
  align-items: center;
  width: 100%;
}
.client-info__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  min-width: 80px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 20px 0 0;
}
.client-info .h2 {
  color: #1D1D1B;
}

.client-balance {
  display: flex;
  align-items: center;
  margin: 7px 0 0;
  font-size: 20px;
}
.client-balance strong {
  font-weight: bold;
  color: #0047AB;
  text-transform: uppercase;
  margin: 0 0 0 7px;
  font-size: 24px;
}

.products-clients-table {
  width: 100%;
  padding: 0 98px 0 0;
}
.products-clients-table__tr {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.products-clients-table__tr:first-child {
  border-top: 1px solid #6DABFF;
}
.products-clients-table__item {
  width: 25%;
  border-right: 1px solid #6DABFF;
  border-bottom: 1px solid #6DABFF;
  padding: 20px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
.products-clients-table__item:first-child {
  border-left: 1px solid #6DABFF;
}
.products-clients-table__item span {
  display: block;
  margin: 0 0 auto;
}
.products-clients-table__item p {
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0 0;
}

.products-clients {
  width: 100%;
  max-width: 1120px;
}
.products-clients__head {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0 40px;
}
.products-clients__head .h2 {
  max-width: 160px;
}

.products-clients-slider {
  padding: 0 30px;
  max-width: 560px;
}
.products-clients-slider .slick-slide {
  margin: 0 20px 0 0;
}
.products-clients-slider .slick-current .products-clients-slider__item {
  border: 1px solid #0047AB;
  background: #fff;
  color: #1D1D1B;
}
.products-clients-slider .slick-current .products-clients-slider__item:hover {
  background: #0047AB;
  color: #fff;
}

.content-box-filter p {
  margin: 0 20px 0 0;
}
.content-box-filter a.btn-white:focus, .content-box-filter a.btn-white:hover {
  background: #fff;
  border-color: #0047AB;
  color: #1D1D1B;
}
.content-box-filter a.btn-white.active {
  background: #0047AB;
  color: #fff;
}
.content-box-filter a.btn-blue:hover, .content-box-filter a.btn-blue:focus {
  background: #6DABFF;
  color: #fff;
}
.content-box-filter a.btn-blue.active {
  background: #0047AB;
  color: #fff;
}
.content-box-filter a.btn-green:hover, .content-box-filter a.btn-green:focus {
  background: #07AA69;
  color: #fff;
}
.content-box-filter a.btn-green.active {
  background: #6DABFF;
  color: #fff;
}

.wrapper-sign {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgb(0, 71, 171) 0%, rgb(246, 247, 250) 100%);
  padding: 20px;
}

.sign-modal {
  margin: auto;
  background: #fff;
  max-width: 367px;
  width: 100%;
  border-radius: 20px;
  padding: 60px;
}
.sign-modal .logo {
  margin: 0 auto 40px;
  max-width: 247px;
  width: 100%;
}
.sign-modal .logo img {
  width: 100%;
}

.form-sign {
  width: 100%;
}
.form-sign label {
  margin: 0 0 20px;
}
.form-sign label:last-child {
  margin: 0;
}
.form-sign input {
  width: 100%;
  background: #fff;
  border: 1px solid #EAF3FF;
  text-align: center;
  color: #6DABFF;
}
.form-sign input::-moz-placeholder {
  color: #6DABFF;
}
.form-sign input::placeholder {
  color: #6DABFF;
}
.form-sign [type=submit] {
  margin: 20px auto 0;
  width: -moz-fit-content;
  width: fit-content;
}
.form-sign .link {
  margin: 20px auto 0;
}

.content-metrics .nav-tabs {
  margin-right: auto;
}

.filter__slider {
  margin: 0 0 0 30px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  position: relative;
  z-index: 1;
}
.filter__slider::before, .filter__slider::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  top: -5px;
  background: #EAF3FF;
}
.filter__slider::before {
  left: -5px;
}
.filter__slider::after {
  right: -5px;
}
.filter__slider .ui-slider-handle {
  border-radius: 50%;
  border: none;
  width: 22px;
  height: 22px;
  min-width: 22px;
  box-shadow: none;
  cursor: pointer;
  background: #0047AB;
  color: #0047AB;
}
.filter__slider .ui-slider-handle.ui-state-focus, .filter__slider .ui-slider-handle.ui-state-active {
  box-shadow: none;
  border: none;
}
.filter__slider .ui-slider-handle .value {
  top: 100%;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 5px auto 0;
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  background: #fff;
}

.ui-slider-range {
  background: #0047AB;
  border: none;
  border-radius: 6px;
}

.range__zero, .range__total {
  color: #0047AB;
  font-size: 14px;
  display: block;
  margin: 10px 0 0;
}

.range__total {
  text-align: right;
}

#filter__range {
  width: 100%;
  order: -1;
  border-radius: 6px;
  border: none;
  height: 12px;
  background: #EAF3FF;
}