/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 2200px) {
  .content {
    padding: 50px 40px;
  }
}
@media only screen and (max-width: 1900px) {
  .content-head {
    margin: 0 0 32px;
  }
}
@media only screen and (max-width: 1600px) {
  .content-box-diagram {
    padding: 30px 15px 30px 23px;
  }
  .sidebar {
    max-width: 340px;
  }
  .sidebar-menu {
    padding-left: 65px;
  }
  .content {
    width: calc(100% - 340px);
    padding: 50px 30px;
  }
  .content-box {
    padding: 30px 40px;
  }
  .dynamics-row {
    flex-wrap: wrap;
    margin: 0 0 40px;
  }
  .dynamics-row .filter-wrapper {
    width: 100%;
  }
  .filter-box-period-cabinet {
    margin: 0 0 10px;
  }
  .content-box-cabinet__body {
    margin: 34px 0 0;
    padding: 0;
  }
  .products-clients-table {
    padding: 0;
  }
  .content-box__head .h2 {
    width: 100%;
  }
  .content-box__head .btn-group {
    margin: 10px 0 0;
  }
}
@media only screen and (max-width: 1440px) {
  .sidebar-menu {
    padding: 23px 38px 36px 75px;
  }
  .menu > li {
    margin: 0 0 30px;
  }
  .menu > li:last-child {
    margin: 0;
  }
  .nav-menu {
    margin: 0 0 30px;
  }
  .submenu {
    margin: 16px 0 0;
  }
  .mb-55 {
    margin-bottom: 45px;
  }
  .sign-modal {
    padding: 30px;
  }
  .sign-modal .logo {
    max-width: 200px;
  }
}
@media only screen and (max-width: 1300px) {
  .content {
    width: 100%;
    padding: 0;
  }
  header {
    display: flex;
  }
  .sidebar {
    display: none;
    left: auto;
    right: 0;
  }
  .sidebar-menu__close {
    display: flex;
  }
  .container {
    padding: 0 20px;
  }
  .row {
    margin: 0 -20px;
  }
  .row > * {
    padding: 0 20px;
  }
  .content-head h1, .content-head .h1, .content-head h2, .content-head .h2 {
    width: 100%;
    margin: 0 0 20px;
  }
  .btn-filter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .filter-wrapper {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background: #F6F7FA;
    padding: 17px 20px;
  }
  .filter-wrapper__head {
    display: flex;
  }
  .filter-box {
    margin: 0 0 20px;
    width: 100%;
  }
  .filter-box .dropdown {
    margin-left: auto;
  }
  .filter-box-period {
    width: -moz-fit-content;
    width: fit-content;
  }
  .filter-category {
    display: block;
  }
  .btn-apply-filters {
    display: flex;
  }
  .content-box-clients h1, .content-translation h1 {
    margin: 0;
  }
  .content-head .form-search {
    margin: 10px 0 0;
  }
  .dynamics-row {
    align-items: center;
  }
  .dynamics-row .btn-filter {
    margin: 0 23px 0 0;
    border: 1px solid #0047AB;
  }
  .mb-40 {
    margin-bottom: 12px;
  }
  .content-box-cabinet {
    margin: 0 0 36px;
  }
  .content-box-cabinet:last-child {
    margin: 0 0 36px;
  }
  .filter-box-period-cabinet {
    margin: 10px 0 20px;
  }
  .content-metrics .btn-filter {
    width: 100%;
    margin: 0 0 10px;
  }
  .content-metrics .content-row {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 992px) {
  div.dt-container div.dt-paging {
    display: none;
  }
  table.dataTable thead > tr > th.dt-orderable-asc, table.dataTable thead > tr > th.dt-orderable-desc, table.dataTable thead > tr > th.dt-ordering-asc, table.dataTable thead > tr > th.dt-ordering-desc, table.dataTable thead > tr > td.dt-orderable-asc, table.dataTable thead > tr > td.dt-orderable-desc, table.dataTable thead > tr > td.dt-ordering-asc, table.dataTable thead > tr > td.dt-ordering-desc {
    white-space: nowrap;
  }
  .table-striped thead {
    text-transform: none;
  }
  .table-clients tbody td, .table-clients thead th, .table-clients tfoot th {
    min-width: 160px;
  }
  .btn-group .btn {
    margin: 0 20px 5px 0;
    white-space: normal;
  }
  .btn-group .btn:last-child {
    margin: 0 0 5px;
  }
  .btn {
    height: auto;
    padding: 16px 20px;
  }
  .content-box {
    padding: 30px 20px;
  }
  .agreement-number strong, .client-balance strong {
    font-size: 20px;
  }
  .content-box-cabinet__head {
    align-items: flex-start;
  }
  .client-info {
    flex-wrap: wrap;
  }
  .client-info__name {
    width: 100%;
  }
  .agreement-number {
    margin: 7px 0 0;
  }
  .products-clients__head {
    flex-wrap: wrap;
  }
  .products-clients__head .h2 {
    width: 100%;
    max-width: 100%;
    margin: 0 0 30px;
    display: flex;
    align-items: center;
  }
  .products-clients__head .h2::after {
    content: "";
    margin-left: auto;
    width: 29px;
    height: 32px;
    min-width: 29px;
    background: url("../img/hand.svg") no-repeat center;
    background-size: 100%;
  }
  .products-clients-slider {
    padding: 0;
    max-width: none;
    width: calc(100% + 20px);
  }
  .products-clients-table__item {
    font-size: 14px;
  }
  .products-clients-table__item p {
    font-size: 20px;
  }
  #chartdiv4, #chartdiv7, #chartdiv8, #chartdiv9, #chartdiv10, #chartdiv11, #chartdiv12, #chartdiv13, #chartdiv14, #chartdiv15 {
    height: 400px;
  }
  .filter__slider {
    width: 350px;
  }
}
@media only screen and (max-width: 768px) {
  h1, .h1, h2, .h2 {
    font-size: 20px;
  }
  .content-box {
    margin: 0 0 35px;
    padding: 25px 20px 35px;
  }
  .content-box:last-child {
    margin: 0;
  }
  table.dataTable thead > tr > th.dt-orderable-asc, table.dataTable thead > tr > th.dt-orderable-desc, table.dataTable thead > tr > td.dt-orderable-asc, table.dataTable thead > tr > td.dt-orderable-desc {
    white-space: nowrap;
  }
  div.dt-container div.dt-search {
    width: 126px;
  }
  .table-currency tfoot tr th {
    padding: 20px 0 10px !important;
  }
  .content-box-clients .form-search {
    display: none;
  }
  .table-translations tbody tr td, .table-translations tbody tr th, .table-translations thead tr td, .table-translations thead tr th {
    min-width: 150px;
  }
  .nav-tabs {
    width: 100%;
    flex-direction: column;
  }
  .nav-tabs .btn {
    width: 100%;
    margin: 0 0 10px;
  }
  .content-box-reports .content-row {
    flex-wrap: wrap;
  }
  .content-box-reports .btn-group {
    width: 100%;
  }
  .content-box-reports .btn-group .btn {
    width: 100%;
    margin: 0 0 10px;
    justify-content: space-between;
    text-align: center;
  }
  .content-box-reports .btn-group .btn:last-child {
    margin: 0;
  }
  .content-box-reports .btn-group .btn span {
    margin: 0 auto;
  }
  .content-box-reports .filter-box-period {
    margin: 10px 0 0;
    width: 100%;
    max-width: none;
  }
  .content-box-reports .filter-box-period input {
    width: 100%;
    text-align: center;
  }
  .btn-md {
    height: 50px;
  }
  .products-clients-table__item {
    width: 50%;
  }
  .products-clients-table__item:nth-child(odd) {
    border-left: 1px solid #6DABFF;
  }
  .agreement-number, .client-balance {
    flex-direction: column;
    align-items: flex-start;
  }
  .agreement-number strong, .client-balance strong {
    margin: 7px 0 0;
  }
  .products-clients__head .h2 {
    margin: 0 0 20px;
  }
  .dynamics-row {
    flex-wrap: nowrap;
  }
  .btn-download-report {
    white-space: normal;
    height: 80px;
  }
  .btn-group .btn {
    margin-right: 16px;
  }
  .content-box-filter p {
    width: 100%;
    margin: 0 0 16px;
  }
  .graphic-type {
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .graphic-type p {
    margin: 0 0 10px;
    width: 100%;
  }
  .graphic-type .btn-group {
    width: 100%;
  }
  html, body {
    height: auto;
    min-height: 100%;
  }
  .filter-box-range {
    flex-wrap: wrap;
  }
  .filter__slider {
    width: 100%;
    margin: 20px 0 0;
  }
}
@media only screen and (max-width: 576px) {
  .content-row {
    align-items: flex-start;
  }
  .content-row .btn-group .btn {
    width: 100%;
    margin: 0 0 10px;
  }
  .content-row .btn-group .btn:last-child {
    margin: 0;
  }
}
@media only screen and (max-width: 480px) {
  .content-box-clients .btn-group .btn {
    width: 100%;
    margin: 0 0 10px;
  }
  .content-box-clients .btn-group .btn:last-child {
    margin: 0;
  }
}
@media only screen and (max-width: 420px) {
  .btn-group {
    flex-direction: column;
    align-items: flex-start;
  }
  .btn-group .btn {
    margin: 0 0 10px 0;
  }
  .btn-group .btn:last-child {
    margin: 0;
  }
  .content-row {
    align-items: flex-start;
  }
  div.dt-container div.dt-search {
    width: 100%;
  }
  .ui-datepicker.ui-widget.ui-widget-content {
    width: 270px;
    padding: 15px;
  }
  .btn-download-report {
    align-items: flex-start;
  }
  #chartdiv4 {
    height: 400px;
  }
  .graphic-type .btn {
    width: 100%;
    margin: 0 0 7px;
  }
  .filter-box-period-cabinet {
    width: 100%;
  }
  .filter-box-period-cabinet input {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 370px) {
  .btn-filter {
    width: 56px;
    height: 56px;
    min-width: 56px;
    padding: 13px;
    border-radius: 10px;
  }
  .dropdown {
    padding: 20px 12px;
  }
  .btn-group .btn {
    width: 100%;
    margin: 0 0 10px;
  }
  .btn-group .btn:last-child {
    margin: 0;
  }
  .products-clients-table__item {
    padding: 16px;
  }
  .products-clients-table__item p {
    font-size: 16px;
  }
}