@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Thin.eot");
  src: url("../fonts/Montserrat/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Black.eot");
  src: url("../fonts/Montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background: #F6F7FA;
  color: #1D1D1B;
}

.no-scroll {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  transition: 0.3s ease;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #EAF3FF;
  height: 60px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #1D1D1B;
  padding: 0 20px;
  cursor: pointer;
  box-sizing: border-box;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  box-shadow: none;
  background: #EAF3FF;
  outline: none;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #1D1D1B;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #1D1D1B;
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 13px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  height: 37px;
  border-radius: 20px;
  transition: 0.3s ease;
  width: 100%;
}
.btn svg {
  width: 22px;
  height: 20px;
  min-width: 22px;
  margin: 0 0 0 12px;
}

.btn-group .btn {
  white-space: nowrap;
  margin: 0 30px 0 0;
}
.btn-group .btn:last-child {
  margin: 0;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn.dropdown-toggle-split:first-child, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 20px;
}

.btn-group > .btn-group:not(:first-child), .btn-group > :not(.btn-check:first-child) + .btn {
  margin: 0;
  border-radius: 20px;
}

.btn-md {
  height: 60px;
  padding: 20px;
}

.btn-accent {
  color: #fff;
  background: #0047AB;
  border: none;
}
.btn-accent:hover {
  color: #fff;
  background: #6DABFF;
}
.btn-accent:focus, .btn-accent:active {
  background: #EAF3FF;
  color: #fff;
}

.btn-blue {
  color: #fff;
  background: #6DABFF;
}
.btn-blue:hover {
  background: #0047AB;
  color: #fff;
}
.btn-blue:focus, .btn-blue:active {
  background: #EAF3FF;
  color: #fff;
}

.btn-light-blue {
  background: #EAF3FF;
  color: #0047AB;
}
.btn-light-blue:hover {
  background: #0047AB;
  color: #fff;
}
.btn-light-blue:hover svg {
  fill: #fff;
}
.btn-light-blue:focus, .btn-light-blue:active {
  color: #fff;
  background: #6DABFF;
}
.btn-light-blue:focus svg, .btn-light-blue:active svg {
  fill: #fff;
}
.btn-light-blue svg {
  fill: #0047AB;
}

.btn-white {
  background: #fff;
  border: 1px solid #0047AB;
  color: #1D1D1B;
}
.btn-white:hover {
  color: #fff;
  background: #6DABFF;
  border-color: #6DABFF;
}
.btn-white:focus {
  background: #0047AB;
  color: #fff;
  border-color: #0047AB;
}
.btn-white:disabled {
  border-color: #EAF3FF;
  background: #EAF3FF;
  color: #0047AB;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

h1, .h1, h2, .h2 {
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #0047AB;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-55 {
  margin-bottom: 55px;
}

.content-box {
  background: #fff;
  width: 100%;
  border-radius: 20px;
  padding: 40px 50px;
  margin: 0 0 55px;
}
.content-box:last-child {
  margin: 0;
}
.content-box__title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 20px auto 0;
  font-size: 20px;
}

.content-box-table {
  padding: 25px 12px 45px 25px;
}
.content-box-table thead {
  font-weight: 500;
}

.container {
  max-width: none;
  width: 100%;
  padding: 0 13.5px;
}

.row {
  margin: 0 -13.5px;
}
.row > * {
  padding: 0 13.5px;
}

.w-100 {
  width: 100%;
}

.width-auto {
  width: -moz-fit-content;
  width: fit-content;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.sidebar {
  max-width: 367px;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  overflow-y: auto;
}

.content {
  margin-left: auto;
  width: calc(100% - 367px);
  padding: 72px 120px 72px 40px;
}

.content-head {
  width: 100%;
  margin: 0 0 43px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.content-head h1, .content-head .h1, .content-head h2, .content-head .h2 {
  margin-right: 40px;
}
.content-head .form-search {
  margin-left: auto;
}

.dropdown {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #EAF3FF;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 180px;
}

.dropdown-toggle {
  font-size: 16px;
  color: #1D1D1B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #fff;
}
.dropdown-toggle::after {
  content: "";
  width: 15px;
  height: 10px;
  min-width: 15px;
  margin: 0 0 0 17px;
  background: url("../img/arrow-select.svg") no-repeat center;
  background-size: 100%;
  border: none;
}
.dropdown-toggle.disabled {
  color: #DDDEE0;
  border-color: #C4C5C7;
}
.dropdown-toggle.disabled:after {
  background: url("../img/arrow-select-disabled.svg") no-repeat center;
  background-size: 100%;
}

.dropdown-menu {
  width: 100%;
  min-width: 206px;
  left: 0 !important;
  top: 0 !important;
  transform: none !important;
  border: none;
  border-radius: 20px;
  padding: 20px;
  background: #fff;
}

.dropdown-scroll-horizontal {
  width: 100%;
  max-height: 184px;
  overflow-y: auto;
  padding: 0;
}
.dropdown-scroll-horizontal::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
  background: #FBFCFF;
}
.dropdown-scroll-horizontal::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #EAF3FF;
}
.dropdown-scroll-horizontal__body {
  width: 100%;
  padding: 0 12px 0 0;
}

.table {
  width: 100%;
  padding: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  width: 100%;
}

.ui-datepicker.ui-widget.ui-widget-content {
  border: none;
  border-radius: 20px;
  background: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 20px 23.5px;
  width: 340px;
  margin: 15px 0 0;
}

.ui-datepicker .ui-datepicker-header {
  padding: 0 0 12px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #6DABFF;
  background: transparent;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-datepicker .ui-datepicker-title {
  margin: 0 18px;
  font-weight: normal;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 9px;
  height: 16px;
  min-width: 9px;
  border: none;
  border-radius: 0;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: none;
}

.ui-datepicker .ui-datepicker-prev {
  background: url("../img/arrow-left.svg") no-repeat center;
  background-size: 100%;
}

.ui-datepicker .ui-datepicker-next {
  order: 1;
  background: url("../img/arrow-right.svg") no-repeat center;
  background-size: 100%;
}

.ui-datepicker th {
  padding: 12px 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  color: #0047AB;
}

.ui-datepicker td {
  font-size: 14px;
  padding: 2px 0;
}

.ui-datepicker td span, .ui-datepicker td a {
  padding: 0;
  margin: 0 auto;
  width: 24px !important;
  height: 24px;
  min-width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
  background: transparent !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background: #EAF3FF !important;
  opacity: 1;
  color: #1D1D1B;
}

.label-checkbox {
  position: relative;
  display: flex;
  align-items: flex-start;
  color: #1D1D1B;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 16px;
  width: 100%;
  cursor: pointer;
}
.label-checkbox:last-child {
  margin: 0;
}
.label-checkbox input {
  display: none;
}
.label-checkbox input:checked ~ .label-checkbox__custom::before {
  display: block;
}
.label-checkbox__text {
  margin: 0 auto 0 0;
}
.label-checkbox__custom {
  margin: 0 0 0 28px;
  order: 1;
  position: relative;
  border-radius: 4px;
  border: 1px solid #6DABFF;
  background-color: #fff;
  width: 20px;
  height: 20px;
  min-width: 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.label-checkbox__custom::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background: #6DABFF;
  display: none;
  transition: 0.3s ease;
}

.label-checkbox-table {
  position: relative;
  z-index: 1;
  font-size: 20px;
}
.label-checkbox-table .label-checkbox__custom {
  margin: 0;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translate(0, -50%);
}

.select-my {
  border: 1px solid #EAF3FF;
  border-radius: 20px;
  background: #fff url("../img/select-table.svg") no-repeat calc(100% - 20px) center;
  background-size: 11px;
  padding: 20px 43px 20px 20px;
  color: #1D1D1B;
}
.select-my:hover, .select-my:focus {
  background: #fff url("../img/select-table.svg") no-repeat calc(100% - 20px) center;
  background-size: 11px;
}

.form-search {
  display: flex;
  align-items: center;
}
.form-search input {
  max-width: 222px;
  padding-right: 40px;
  background: #EAF3FF url("../img/search-icon.svg") no-repeat calc(100% - 20px) center;
  background-size: 21px;
}